In [181]:
import os
import pandas as pd

df = pd.read_excel("C:/Users/sadma/OneDrive/Desktop/chowa/00_combined.xlsx", header=1)

In [182]:
display(df[0:7])

,Unnamed: 0,画像ファイル名,路線,KP,経過時間（秒）,時分秒,速度,視程,Unnamed: 8,Unnamed: 9,視程ランク
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,km/h,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,km,NaN,NaN,NaN,m,平均,中央値,18833
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,r231-140131-144430,r231-140131-144430-0000_.jpg,r231,52,0.0,14:44:33,0,2000,2000,2000,NaN
5,r231-140131-144430,r231-140131-144430-0001_.jpg,r231,52,1.0,14:44:34,0,2000,2000,2000,NaN
6,r231-140131-144430,r231-140131-144430-0002_.jpg,r231,52,2.0,14:44:35,0,2000,2000,2000,NaN

In [183]:
df = df.drop(df.index[0:5])

In [184]:
df.head(7)

,Unnamed: 0,画像ファイル名,路線,KP,経過時間（秒）,時分秒,速度,視程,Unnamed: 8,Unnamed: 9,視程ランク
5,r231-140131-144430,r231-140131-144430-0001_.jpg,r231,52,1.0,14:44:34,0,2000,2000,2000,NaN
6,r231-140131-144430,r231-140131-144430-0002_.jpg,r231,52,2.0,14:44:35,0,2000,2000,2000,NaN
7,r231-140131-144430,r231-140131-144430-0003_.jpg,r231,52,3.0,14:44:36,0,2000,2000,2000,NaN
8,r231-140131-144430,r231-140131-144430-0004_.jpg,r231,52,4.0,14:44:37,0,2000,2000,2000,NaN
9,r231-140131-144430,r231-140131-144430-0005_.jpg,r231,52,5.0,14:44:38,0,2000,2000,2000,NaN
10,r231-140131-144430,r231-140131-144430-0006_.jpg,r231,51.998,6.0,14:44:39,5.7,2000,2000,2000,NaN
11,r231-140131-144430,r231-140131-144430-0007_.jpg,r231,51.996,7.0,14:44:40,10.2,2000,2000,2000,NaN

In [185]:
df.rename(columns={'Unnamed: 0': 'image_info',
                               '画像ファイル名': 'image_name',
                               '路線': 'lane_no',
                               'KP': 'kp',
                               '経過時間（秒）': 'elapsed_time',
                               '時分秒': 'minutes_seconds',
                               '速度': 'speed',
                               '視程': 'visibility',
                               'Unnamed: 8': 'average',
                               'Unnamed: 9': 'mediun',
                               '視程ランク': 'visibility_rank'
                               },
                      inplace=True)

In [186]:
df.head(10)

,image_info,image_name,lane_no,kp,elapsed_time,minutes_seconds,speed,visibility,average,mediun,visibility_rank
5,r231-140131-144430,r231-140131-144430-0001_.jpg,r231,52,1.0,14:44:34,0,2000,2000,2000,NaN
6,r231-140131-144430,r231-140131-144430-0002_.jpg,r231,52,2.0,14:44:35,0,2000,2000,2000,NaN
7,r231-140131-144430,r231-140131-144430-0003_.jpg,r231,52,3.0,14:44:36,0,2000,2000,2000,NaN
8,r231-140131-144430,r231-140131-144430-0004_.jpg,r231,52,4.0,14:44:37,0,2000,2000,2000,NaN
9,r231-140131-144430,r231-140131-144430-0005_.jpg,r231,52,5.0,14:44:38,0,2000,2000,2000,NaN
10,r231-140131-144430,r231-140131-144430-0006_.jpg,r231,51.998,6.0,14:44:39,5.7,2000,2000,2000,NaN
11,r231-140131-144430,r231-140131-144430-0007_.jpg,r231,51.996,7.0,14:44:40,10.2,2000,2000,2000,NaN
12,r231-140131-144430,r231-140131-144430-0008_.jpg,r231,51.992,8.0,14:44:41,10.9,2000,2000,2000,NaN
13,r231-140131-144430,r231-140131-144430-0009_.jpg,r231,51.989,9.0,14:44:42,13.3,2000,2000,2000,NaN
14,r231-140131-144430,r231-140131-144430-0010_.jpg,r231,51.983,10.0,14:44:43,18.5,2000,2000,2000,NaN

In [188]:
df.columns

Index(['image_info', 'image_name', 'lane_no', 'kp', 'elapsed_time',
       'minutes_seconds', 'speed', 'visibility', 'average', 'mediun',
       'visibility_rank'],
      dtype='object')

In [190]:
df['visibility_rank'].head(20)

5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16      A
17      A
18      A
19      A
20      A
21      A
22      A
23      A
24      A
Name: visibility_rank, dtype: object

In [191]:
type(df)

pandas.core.frame.DataFrame

In [192]:
df.dtypes

image_info          object
image_name          object
lane_no             object
kp                  object
elapsed_time       float64
minutes_seconds     object
speed               object
visibility          object
average             object
mediun              object
visibility_rank     object
dtype: object

In [193]:
df.drop(['image_info', 'image_name', 'lane_no'], axis=1, inplace=True)

In [194]:
df.dtypes

kp                  object
elapsed_time       float64
minutes_seconds     object
speed               object
visibility          object
average             object
mediun              object
visibility_rank     object
dtype: object

In [195]:
df['kp'] = pd.to_numeric(df['kp'])

In [196]:
df['minutes_seconds'] = df['minutes_seconds'].astype('str')

In [197]:
df['minutes_seconds'] = df['minutes_seconds'].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))

In [198]:
df['minutes_seconds'] = pd.to_numeric(df['minutes_seconds'])

In [199]:
df['speed'] = pd.to_numeric(df['speed'])

In [200]:
df['visibility'] = pd.to_numeric(df['visibility'])

In [201]:
df['average'] = pd.to_numeric(df['average'])

In [202]:
df['mediun'] = pd.to_numeric(df['mediun'])

In [203]:
df['minutes_seconds'].head()

5    884
6    884
7    884
8    884
9    884
Name: minutes_seconds, dtype: int64

In [204]:
df['visibility_rank'] = pd.get_dummies(df['visibility_rank'])
df['visibility_rank'].head(10)

5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: visibility_rank, dtype: uint8

In [205]:
df.dtypes

kp                 float64
elapsed_time       float64
minutes_seconds      int64
speed              float64
visibility           int64
average            float64
mediun             float64
visibility_rank      uint8
dtype: object

In [208]:
df.head(100)

,kp,elapsed_time,minutes_seconds,speed,visibility,average,mediun,visibility_rank
5,52.000,1.0,884,0.0,2000,2000.0,2000.0,0
6,52.000,2.0,884,0.0,2000,2000.0,2000.0,0
7,52.000,3.0,884,0.0,2000,2000.0,2000.0,0
8,52.000,4.0,884,0.0,2000,2000.0,2000.0,0
9,52.000,5.0,884,0.0,2000,2000.0,2000.0,0
...,...,...,...,...,...,...,...,...
100,50.848,96.0,886,58.9,2000,2000.0,2000.0,1
101,50.831,97.0,886,58.7,2000,2000.0,2000.0,1
102,50.815,98.0,886,58.0,2000,2000.0,2000.0,1
103,50.799,99.0,886,56.3,2000,2000.0,2000.0,1
104,50.783,100.0,886,56.1,2000,2000.0,2000.0,1

In [210]:
# How much of your data is missing ? 
df.isnull().sum().sort_values(ascending=False).head()

mediun             161
average            161
visibility_rank      0
visibility           0
speed                0
dtype: int64

In [211]:
from sklearn.preprocessing import Imputer

In [212]:
imp = Imputer(missing_values='NaN', strategy='median', axis=0)

C:\Users\sadma\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [213]:
imp.fit(df)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0)

In [214]:
df = pd.DataFrame(data=imp.transform(df), columns=df.columns)

In [215]:
df.isnull().sum().sort_values(ascending=False).head()

visibility_rank    0
mediun             0
average            0
visibility         0
speed              0
dtype: int64

[]