Pandas provides two very useful data structures to process the data i.e. Series and DataFrame

### Series

In [1]:
import pandas as pd

Converting tuple to series

In [2]:
a = ('A', '2019-08-15', 100, 1.5)

In [3]:
a

('A', '2019-08-15', 100, 1.5)

In [4]:
type(a)

tuple

In [5]:
s = pd.Series(a)

In [6]:
s

0             A
1    2019-08-15
2           100
3           1.5
dtype: object

In [7]:
type(s)

pandas.core.series.Series

Converting dictionaries to Series

In [10]:
d = {'name': 'Soumik', 'id': 1511109, 'dept': 'CSE'}

In [11]:
d

{'name': 'Soumik', 'id': 1511109, 'dept': 'CSE'}

In [12]:
ds = pd.Series(d)

In [13]:
ds

name     Soumik
id      1511109
dept        CSE
dtype: object

In [14]:
type(ds)

pandas.core.series.Series

#####  We can provide custom index names as well

In [15]:
f = ['BD', '2019-08-15', 90, 3.2]
f

['BD', '2019-08-15', 90, 3.2]

In [16]:
f = pd.Series(f, index=['country', 'date', 'shares', 'price'])

In [17]:
f

country            BD
date       2019-08-15
shares             90
price             3.2
dtype: object

In [19]:
f[['shares', 'price']]

shares     90
price     3.2
dtype: object