In [8]:
my_info = {
    'name': ['Shakib', 'Tamim', 'Mushfiq'],
    'age': [24, 27, 32],
    'position': ['all-rounder', 'Batsman', 'Keeper']
}

In [9]:
type(my_info)

dict

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(my_info)

In [12]:
df

      name  age     position
0   Shakib   24  all-rounder
1    Tamim   27      Batsman
2  Mushfiq   32       Keeper

In [15]:
domain = ['language', 'database', 'framework']
name = ['python', 'Oracle', 'Django']

In [16]:
system = zip(domain, name)

In [18]:
type(system)

zip

In [19]:
list(system)

[('language', 'python'), ('database', 'Oracle'), ('framework', 'Django')]

In [20]:
name = [ "Soumik", "Kabir", "Antu", "Tanisha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ]

In [38]:
student_name[0]

'Soumik'

In [36]:
### Unzipping values 
student_name, roll, mark = zip(*student_list)

In [35]:
student_info = zip(name, roll_no, marks)
student_list = list(student_info)