In [1]:
import pandas as pd

In [5]:
u = pd.read_csv('cast.csv', index_col = None)
u.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

##### The data is grouped by decade and type i.e. actor and actress.

In [8]:
u.groupby([u['year']//10*10, 'type']).size()

year  type
1910  actor        384
      actress      285
1920  actor        710
      actress      411
1930  actor       2628
      actress      820
1940  actor       3014
      actress      983
1950  actor       2877
      actress     1015
1960  actor       2775
      actress      968
1970  actor       3044
      actress     1299
1980  actor       3565
      actress     1989
1990  actor       5108
      actress     2544
2000  actor      10368
      actress     5831
2010  actor      15523
      actress     8853
2020  actor          4
      actress        3
dtype: int64

##### Groupby based on type

In [10]:
u.groupby( ['type', u['year']//10*10] ).size()

type     year
actor    1910      384
         1920      710
         1930     2628
         1940     3014
         1950     2877
         1960     2775
         1970     3044
         1980     3565
         1990     5108
         2000    10368
         2010    15523
         2020        4
actress  1910      285
         1920      411
         1930      820
         1940      983
         1950     1015
         1960      968
         1970     1299
         1980     1989
         1990     2544
         2000     5831
         2010     8853
         2020        3
dtype: int64