In [1]:
import pandas as pd

In [2]:
us = pd.read_csv('cast.csv', index_col = None)
us.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

##### The data is grouped by decade and type i.e. actor and actress.

In [4]:
us.groupby([us['year']//10*10, 'type']).size().head(10)

year  type
1910  actor       384
      actress     285
1920  actor       710
      actress     411
1930  actor      2628
      actress     820
1940  actor      3014
      actress     983
1950  actor      2877
      actress    1015
dtype: int64